
<div class='background_pattern'></div>

<div id='intro_section'>
	<div id='logo'>
		<%= image_tag('wassermann_logo.jpg', alt: 'Logo Wassermann') %>
	</div>
	<h1 id='header_text'> Looking Forward <br> Working <br> In Berlin </h1>
	<h4 id='header_subtext'>more craft  less bullshit</h4>

</div>

	<div id='desktop_background'>
		<%= image_tag('Working_in_Berlin_raw.jpg', alt: 'Desk background picture') %>
	<div id='pink_intro_bg'></div>
	</div>

