@import 'bourbon'
@import 'neat'

$pink: #FA4042

.pillow
  padding-top: 5000px
  z-index: 10

.background_pattern
  background-image: url(pattern.jpg) 
  width: 100%
  height: 10000px
  z-index: 1
  position: fixed
  top: 0px


/*********************** INTRO SECTION **************/

#desktop_background, #logo, #header_text, #header_subtext 
  position: absolute
  width: 100%

#logo, #header_text, #header_subtext, #creating_value, 
  text-align: center
  z-index: 7

#intro_section
  position: relative
  z-index: 9

#logo
  padding-top: 80px
  height: 100%

#piggie_text
  z-index: 7
  text-align: center
  
#header_text, #creating_value, #piggie_text
  color: #FE504F
  font-size: 120px
  line-height: .85em
  padding-top: 150px
  text-transform: uppercase
  +media(min-width 1219px)
    padding-top: 180px

#header_subtext
  color: white
  font-size: 30px
  padding-top: 635px
  +media(min-width 1219px)
    padding-top: 580px 

#creating_value
  color: white
  padding-top: 100px

#pink_intro_bg
  background-color: #FE504F
  height: 1040px
  width: 100%
  margin-top: -80px
  z-index: 1
  position: relative

#desktop_background
  z-index: 6
  min-height: 766px
  max-height: 766px
  overflow: hidden
  position: relative
  img
    position: fixed
    min-width: 1500px
    width: 100%
    z-index: 5

#skill_pics_container
  position: absolute
  width: 100%
  text-align: center
  ul
    list-style: none
    height: 100%
    margin-bottom: 200px
    li
      color: white
      padding-right: 3%
      letter-spacing: -2px
      display: inline-table
      a
        text-decoration: none
        color: white

#plane_pic
  z-index: 6
  margin-top: -60px
  overflow: hidden
  min-height: 766px
  max-height: 766px
  position: absolute
  img
    position: relative
    min-width: 1300px
    width: 100%
    z-index: 6

#piggie_text
  position: absolute
  z-index: 7
  margin-top: 2900px
  margin-left: auto
  font-size: 2em
  text-transform: uppercase
  width: 100%


#sinatra
  +outer-container
  +span-columns(5)
  +shift(6)
  z-index: 6
  position: absolute
  margin-top: 4100px
  max-height: 100%
  max-width: 100%

#applying
  +outer-container
  +span-columns(5)
  +shift(1)
  z-index: 6
  position: absolute
  margin-top: 5600px
  color: white
  text-transform: uppercase
  font-size: 3em
  margin-left: 10%
