@import 'bourbon'
@import 'neat'

$pink: #FA4042

.pillow
  padding-top: 5000px
  z-index: 10

.background_pattern
  background-image: url(pattern.jpg) 
  width: 100%
  height: 10000px
  z-index: 1
  position: fixed
  top: 0px


/*********************** INTRO SECTION **************/

#desktop_background, #logo, #header_text, #header_subtext, #piggie
  position: absolute
  width: 100%

#logo, #header_text, #header_subtext, #creating_value, #piggie
  text-align: center
  z-index: 5

#intro_section
  position: relative

#logo
  padding-top: 80px
  height: 100%
  
#header_text, #creating_value
  color: #FE504F
  font-size: 120px
  line-height: .85em
  padding-top: 150px
  text-transform: uppercase
  +media(min-width 1219px)
    padding-top: 180px

#header_subtext
  color: white
  font-size: 30px
  padding-top: 635px
  +media(min-width 1219px)
    padding-top: 580px 

#creating_value
  color: white
  padding-top: 100px

#pink_intro_bg
  background-color: #FE504F
  height: 1040px
  width: 100%
  margin-top: -75px
  z-index: 4
  position: relative

#desktop_background
  z-index: 4
  min-height: 766px
  max-height: 766px
  overflow: hidden
  position: relative
  img
    position: fixed
    min-width: 1500px
    width: 100%
    z-index: 5

#skill_pics_container
  position: absolute
  width: 100%
  ul
    list-style: none
    height: 100%
    margin: auto
    li
      color: white
      text-align: center
      letter-spacing: -2px
      float: left
      padding-left: 2%
      a
        text-decoration: none
        color: white

.skill_pics 

#Plane_Pic
  z-index: 5
  position: absolute
  width: 100%
  margin-top: -100px

#piggie
  padding-top: 515px
  margin-left: -240px
  font-size: 2em
  color: #FE504F
  text-transform: uppercase
